@{
    ViewBag.Title = "Springer Issue Tracker";
}
<h2>@ViewBag.Title.</h2>

@{
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">
    <title>Springer Issue Tracker</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Assets/main/css/style.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="~/Assets/main/css/colors/blue.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="fix-header card-no-border">
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <section id="wrapper" class="error-page" style="position:relative">
        <div class="error-box">
            <div class="error-body text-center">
                <h1>Bug Tracker</h1>
                <h3 class="text-uppercase">Welcome</h3>
                <p class="text-muted m-t-30 m-b-30">YOU SEEM TO BE TRYING TO FIND HIS WAY HOME</p>
               
                @*<img src="~/Assets/images/spaniel.jpg" />*@
                <a href="@Url.Action("Index","Home")" class="btn btn-info btn-rounded waves-effect waves-light m-b-40">Access App</a>
            </div>
            <footer class="footer text-center">© @DateTime.Now.Year Jessica Dean</footer>
        </div>
    </section>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="~/Assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/Assets/plugins/bootstrap/js/popper.min.js"></script>

    <script src="~/Assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!--Wave Effects -->
    <script src="~/Assets/main/js/waves.js"></script>
</body>

</html>

