@{
    ViewBag.Title = "Springer Issue Tracker";
}


@{
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/Assets/images/icon/faviconSp.ico" />


    <!-- Bootstrap Core CSS -->
    <link href="~/Assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Assets/main/css/style.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="~/Assets/main/css/colors/blue.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>


<body style="background-image:url(~/Assets/images/background/bugtrackerBG.png)">
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <span style="align-content:center">
                            <a href="@Url.Action("Index","Home")">
                                <img src="~/Assets/images/springer.png" />

                            </a>
                        </span>
                    </div>
                </div>
                <div class="card card-outline-inverse" align="center">


                    <h2 class="card-title m-t-40"  >
                        SPRINGER IS A SOFTWARE &amp; HARDWARE TICKET TRACKING APP <br />
                        <i class="mdi mdi-language-javascript"></i><i class="mdi mdi-language-css3"></i><i class="mdi mdi-language-html5"></i>
                        <i class="mdi mdi-language-csharp"></i>
                    </h2>
                        <h5> <a href="@Url.Action("Index","Home")" class="btn btn-info"> ACCESS APP <i class="mdi mdi-arrow-right-bold-circle"></i></a>
   
                    </h5>
                    

                </div>

            </div>
        </div>
        <div class="card-body" align="center">



            <div class="row" style="background-color:white">
                <div class="col-xs-6 col-md-3">
                    <div class="card card-outline-warning">
                        <div class="card-header">
                            <h4 class="m-b-0 text-white">
                                USER
                            </h4>
                        </div>
                        <ul class="list-unstyled">
                            <li class="media">
                                <img class="d-flex mr-3" src="../Assets/images/userAv.png" width="60" alt="Generic placeholder image">
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1">Permissions</h5>
                                    <i class="fa fa-check"></i>Submit tickets &amp; edit them<br />
                                    <i class="fa fa-check"></i> Be assigned to projects
                                    
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            
            <div class="col-xs-6 col-md-3">
                <div class="card card-outline-danger">
                    <div class="card-header">
                        <h4 class="m-b-0 text-white">
                            DEVELOPER
                        </h4>
                    </div>
                    <ul class="list-unstyled">
                        <li class="media">

                            <img class="d-flex mr-3" src="../Assets/images/developrAv.png" width="60" alt="Generic placeholder image">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">Permissions</h5>
                                <i class="fa fa-check"></i> Receive ticket assignments &amp; notifications<br />
                                @*<i class="fa fa-check"></i>Receive ticket update emails<br />*@
                                <i class="fa fa-check"></i>View their projects &amp; tickets <br />
                                <i class="fa fa-check"></i>Edit their projects &amp; tickets
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        
        <div class="col-xs-6 col-md-3">
            <div class="card card-outline-success">
                <div class="card-header">
                    <h4 class="m-b-0 text-white"> PROJECT MANAGER</h4>
                </div>
                <ul class="list-unstyled">
                    <li class="media">
                        <img class="d-flex mr-3" src="../Assets/images/AdminAv.png" width="60" alt="Generic placeholder image">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Permissions</h5>
                            <i class="fa fa-check"></i> Assign users to projects<br />
                            <i class="fa fa-check"></i> View all project details<br />
                            <i class="fa fa-check"></i> View tickets for their projects<br />
                            <i class="fa fa-check"></i> Edit their tickets &amp; projects
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="card card-outline-primary">
                <div class="card-header">
                    <h4 class="m-b-0 text-white">

                        ADMINISTRATOR
                    </h4>
                </div>
                <ul class="list-unstyled">
                    <li class="media">
                        <img class="d-flex mr-3" src="../Assets/images/pmAv.png" width="60" alt="Generic placeholder image">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Permissions</h5>
                            <i class="fa fa-check"></i> Assign roles to users<br />
                            <i class="fa fa-check"></i>  Assign users to projects<br />
                            <i class="fa fa-check"></i>  View all project details<br />
                            <i class="fa fa-check"></i>  View all ticket details<br />
                            <i class="fa fa-check"></i>  Edit tickets &amp; projects
                        </div>
                    </li>

                </ul>

            </div>
        </div>
        </div>
    </div>
    </div>
    </div>

    </div>
    </div>

    </div>





    <footer class="footer text-center">© @DateTime.Now.Year Jessica Dean</footer>


    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="~/Assets/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/Assets/bootstrap/js/popper.min.js"></script>

    <script src="~/Assets/bootstrap/js/bootstrap.min.js"></script>
    <!--Wave Effects -->
    <script src="~/Assets/main/js/waves.js"></script>
</body>

</html>

